body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  label {
    font-size: 20px;
  }
  .container-input {
    position: relative;
    input {
      font-size: 20px;
      // margin-left: 10px;
      // margin-right: 10px;
      width: 100%;
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }
    img {
      position: absolute;
      top: -2px;
      right: 0px;
    }
    .container-buttons{
      display: inline-block;
      label{
        font-size: 20px;
      }
      button{
        background-color: white;
        &.active{
          background-color: blue;
        }
      }
    }
    .container-key{
      display: flex;
      align-items: center;
      label{
        font-size: 15px;
        white-space: nowrap;
      }
      input{
        max-width: 100%;
      }
    }
  }
  button {
    // position: relative;
    padding: 20px;
    margin-top: 10px;
    font-size: 25px;
  }

  .encryptedText {
    position: relative;
    .encryptedText-block {
      textarea {
        font-size: 30px;
        resize: none;
        width: 90%;
        height: 300px;
      }
      img{
        position: absolute;
        width: 32px;
        &:last-child {
          top: 40px;
        }
      }
    }
  }
  
}